html,body,#app {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.modal-body {
    padding-bottom: 0;
}
.box {
    background-color: #333;
    height: 100%;
    margin: 0;
}
.error {
    color: #c00;
    padding-left: 5px;
    font-weight: bold;
}
.circle {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #aaa;
    /*border-radius: 50%;*/
}
#net {
    display: inline-block;
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    border-left: 4px dashed #999;

}
.paddle {
    display: block;
    position: relative;
    width: 15px;
    height: 60px;
    background-color: #ccc;
}
.button-container {
    margin-left: 10px;
}
.score {
    font-family: 'VT323';
    color: #999;
    font-weight: bold;
    position: absolute;
    font-size: 100px;
}
span.key-icon {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
}
span.key-icon.arrow {
    padding: 0px 5px 1px 5px;
}
.score.left {
    left: 40%;
}
.score.right {
    right: 40%;
}
input[type="color"] {
    margin: 0px 10px 0px 5px;
}
input.radio-left {
    margin-left: 20px;
}
input.radio-right {
    margin-left: 10px;
}
input.text-paddle-speed {
    width: 3em;
    text-align: center;
}
