<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
<script src="js/angular/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/pong.js"></script>
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/pong.css">
<body>

<div id="app" ng-app="pongApp" ng-controller="PongController as pong">

    <div id="pong-court" class="box">
        <ball x="{{ball.x}}" y="{{ball.y}}" color="{{ball.color}}"></ball>
        <paddle side="left" y="{{paddles.left.y}}"></paddle>
        <span class="score left">{{scores.left}}</span>
        <div id="net"></div>
        <span class="score right">{{scores.right}}</span>
        <paddle side="right" y="{{paddles.right.y}}"></paddle>
    </div>
    <!--
    <div class="button-container">
        <button class="btn btn-success" ng-click="serve()">Go</button>
        <button class="btn btn-danger" ng-click="stopGame()">Stop</button>
    </div>
    -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Settings</h3>
        </div>
        <div class="modal-body">
            <form>
                <fieldset>
                <legend>Sound</legend>
                <input type="radio"
                       name="soundOn"
                       value="1"
                       ng-model="settings.soundOn"
                       class="radio-left">
                <label for="soundOn">On</label>
                <input type="radio"
                       name="soundOn"
                       value="0"
                       ng-model="settings.soundOn"
                       class="radio-right">
                <label for="soundOn">Off</label>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>


</div>

</body>
</html>

