<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
<script src="js/angular/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/pong.js"></script>
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="css/pong.css">
<body>

<div id="app" ng-app="pongApp" ng-controller="PongController as pong">

    <div class="box" court>
        <ball x="{{ball.x}}" y="{{ball.y}}" color="{{ball.color}}"></ball>
        <paddle side="left" y="{{paddles.left.y}}"></paddle>
        <span class="score left">{{scores.left}}</span>
        <div id="net"></div>
        <span class="score right">{{scores.right}}</span>
        <paddle side="right" y="{{paddles.right.y}}"></paddle>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <form novalidate name="settingsForm">
        <div class="modal-header">
            <h3 class="modal-title">Angular Pong</h3>
            <h4>Instructions</h4>
            <p><span class="key-icon">Esc</span> - stops the game and opens this screen or cancels changes and exits this screen.</p>
            <p><span class="key-icon">Enter</span> - serves the ball or submits changes and exits this screen.</p>
            <p>Paddles currently only move via keys:
            <ul>
                <li>Left: <span class="key-icon">w</span> and <span class="key-icon">s</span></li>
                <li>Right: <span class="key-icon arrow">&uarr;</span> and <span class="key-icon arrow">&darr;</span></li>
            </ul>
            </p>
            <p>Use the form below to fiddle with available customizations.</p>
        </div>
        <div class="modal-body">
                <p>
                    <label>Sound</label>
                    <input type="radio"
                           name="soundOn"
                           value="1"
                           ng-model="settings.soundOn"
                           class="radio-left">
                    <label for="soundOn">On</label>
                    <input type="radio"
                           name="soundOn"
                           value="0"
                           ng-model="settings.soundOn"
                           class="radio-right">
                    <label for="soundOn">Off</label>
                </p>
                <label>Players</label>
                    <input type="radio"
                           name="numPlayers"
                           value="1"
                           ng-model="settings.numPlayers"
                           class="radio-left">
                    <label for="numPlayers">1</label>
                    <input type="radio"
                           name="numPlayers"
                           value="2"
                           ng-model="settings.numPlayers"
                           class="radio-right">
                    <label for="numPlayers">2</label>
                </p>
                <p>
                <p>
                    <label>Auto Side</label>
                    <input type="radio"
                           name="autoSide"
                           value="left"
                           ng-model="settings.autoSide"
                           class="radio-left">
                    <label for="autoSide">Left</label>
                    <input type="radio"
                           name="autoSide"
                           value="right"
                           ng-model="settings.autoSide"
                           class="radio-right"
                           ng-disabled="2 == settings.numPlayers">
                    <label for="autoSide">Right</label>
                </p>
                <p>
                    <label>Colors:&nbsp;</label>
                    <span ng-repeat="(item, color) in settings.colors">
                        <label for="{{ item }}Color">{{ item | capitalize }}</label>
                        <input type="color"
                               name="{{ item }}Color"
                               ng-model="settings.colors[item]" />
                    </span>
                </p>
                <p>
                    <label for="paddleSpeed">Paddle Speed</label>
                    <input type="text" name="textPaddleSpeed" class="text-paddle-speed" ng-model="settings.paddleSpeed" check-paddle-speed/>
                    <span class="error" ng-show="settingsForm.textPaddleSpeed.$error.checkPaddleSpeed"> must be an integer between 1 and 100</span>
                    <input type="range" class="range-paddle-speed" min="0" max="100" ng-model="settings.paddleSpeed" width="50%"/>
                    <div class="text-right">
                        <input type="checkbox"/ ng-model="settings.showDirections"/>
                        <label for="showDirections">Show this dialog on load</label>
                    </div>
                </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="clearLocal()">Clear Local Storage</button>
            <button class="btn btn-default" type="button" ng-click="resetSettings()">Reset</button>
            <button class="btn btn-primary" type="submit" ng-click="ok()" ng-disabled="settingsForm.$invalid">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        </form>
    </script>

</div>

</body>
</html>

